In [168]:
import os
import csv
import pandas as pd

election_dataCSV1 = os.path.join("raw_data", "election_data_1.csv")

In [169]:
election_dataCSV1 = pd.read_csv(election_dataCSV1)
election_dataCSV1.head(25)

    Voter ID      County Candidate
0    1405627      Harsaw    Vestal
1    1711723  Mershville    Vestal
2    1550639  Matterdawn    Vestal
3    1042621      Harsaw    Vestal
4    1583965  Matterdawn    Vestal
5    1943299  Mershville    Vestal
6    1880982      Harsaw    Torres
7    1305689      Harsaw    Torres
8    1759114  Mershville    Vestal
9    1745020  Matterdawn      Seth
10   1562401      Harsaw    Vestal
11   1467337      Porpus    Torres
12   1091170  Matterdawn    Torres
13   1947604      Harsaw    Vestal
14   1400758  Mershville    Torres
15   1009045  Matterdawn    Vestal
16   1246891  Matterdawn    Cordin
17   1744120  Matterdawn    Vestal
18   1571939  Mershville    Vestal
19   1936895  Matterdawn    Vestal
20   1122582  Matterdawn    Torres
21   1307503  Mershville    Torres
22   1594030      Harsaw    Torres
23   1072081  Mershville    Torres
24   1368919  Mershville    Vestal

In [170]:
election_dataCSV1.columns

Index(['Voter ID', 'County', 'Candidate'], dtype='object')

In [171]:
del election_dataCSV1['County']
election_dataCSV1.columns

Index(['Voter ID', 'Candidate'], dtype='object')

In [172]:
election_dataCSV1.dtypes

Voter ID      int64
Candidate    object
dtype: object

In [173]:
voters = election_dataCSV1['Voter ID'].count()
print(voters)

803000

In [174]:
candidates = election_dataCSV1['Candidate'].unique()
candidates

array(['Vestal', 'Torres', 'Seth', 'Cordin'], dtype=object)

In [175]:
election_results = election_dataCSV1.groupby('Candidate')["Voter ID"].count()
election_results

Candidate
Cordin     24090
Seth       40150
Torres    353320
Vestal    385440
Name: Voter ID, dtype: int64

In [176]:
election_results = election_results.to_frame().reset_index()
election_results

  Candidate  Voter ID
0    Cordin     24090
1      Seth     40150
2    Torres    353320
3    Vestal    385440

In [177]:
election_results = election_results.rename(columns={"Voter ID":"Votes"})
election_results

  Candidate   Votes
0    Cordin   24090
1      Seth   40150
2    Torres  353320
3    Vestal  385440

In [178]:
voters = election_dataCSV1['Voter ID'].count()
election_results["% Votes"] = election_results['Votes'] / voters *100
election_results

  Candidate   Votes  % Votes
0    Cordin   24090      3.0
1      Seth   40150      5.0
2    Torres  353320     44.0
3    Vestal  385440     48.0

In [179]:
print(str("Election Results"))
print(str("---------------"))
election_results.head()
# print(str({'candidate'} + "  Wins!"))

Election Results
---------------

  Candidate   Votes  % Votes
0    Cordin   24090      3.0
1      Seth   40150      5.0
2    Torres  353320     44.0
3    Vestal  385440     48.0

In [180]:
election_results.dtypes

Candidate     object
Votes          int64
% Votes      float64
dtype: object

In [186]:
winner = election_results["Votes"].max()
winner

385440

In [187]:
election_results[election_results['Votes'] == winner]['Candidate']

3    Vestal
Name: Candidate, dtype: object

In [188]:
output_file = os.path.join("ElectionResults1.csv")
election_results.to_excel(file_name, index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'output\\ElectionResults1.xlsx'